@using ManarMall.Models;
@using Umbraco.Web.Models;
@using Umbraco.Web;
@using umbraco.cms.businesslogic.web;
@using Skybrud.ImagePicker;
@using Skybrud.ImagePicker.Extensions;
@using Newtonsoft.Json.Linq;
@inherits UmbracoViewPage<ManarMall.Model.ContactModel>
@{
    /**/

    var langs = Umbraco.TypedContentAtRoot();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var umbracoPageId = 4896;
    IPublishedContent content = umbracoHelper.TypedContent(umbracoPageId);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    Session["data"] = umbracoPageId;
    Session["data2"] = content.UrlName;
    var currentPage = Umbraco.Content(umbraco.NodeFactory.Node.GetCurrent().Id);


    ImagePickerItem brandimage1 = content.GetImagePickerItem("brandimage1");

}



@if (brandimage1.HasImage)
{
    <section class="container-fluid contact_banner slider-main " style="background: url(@brandimage1.Image.Url) no-repeat center; background-size: cover;  ">
        <div class="row">
            <div class="slider-main-text text-center">

            </div>
        </div>
    </section>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<section class="container-fluid contact_n_map">
    <div class="cont_top_bg"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="cont_info_holder" style="background: url('/img/top_img_1.png') no-repeat top left; background-size: cover; margin-right: 25px; ">
                    <div class="cont_info_overlay">
                        <h1>@content.GetPropertyValue("description1Title")</h1>
                        <hr>

                        <ul class="cont_info">
                            @content.GetPropertyValue("description1")
                            <li class="click-to-enqr">  <a href="/Leasing">Click For Shop Enquiries</a></li>
                        </ul>

                        <div class="cont_social">

                            <ul class="social_links">
                                <li><a href="@content.GetPropertyValue("facebookUrl")" title="facebook" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 96.124 96.123"><path d="M72.089.02L59.624 0C45.62 0 36.57 9.285 36.57 23.656v10.907H24.037a1.96 1.96 0 0 0-1.96 1.961v15.803a1.96 1.96 0 0 0 1.96 1.96H36.57v39.876a1.96 1.96 0 0 0 1.96 1.96h16.352a1.96 1.96 0 0 0 1.96-1.96V54.287h14.654a1.96 1.96 0 0 0 1.96-1.96l.006-15.803a1.963 1.963 0 0 0-1.961-1.961H56.842v-9.246c0-4.444 1.059-6.7 6.848-6.7l8.397-.003a1.96 1.96 0 0 0 1.959-1.96V1.98A1.96 1.96 0 0 0 72.089.02z" /></svg></a></li>
                                <li>
                                    <a title="twitter" href="@content.GetPropertyValue("twitterUrl")" target="_blank">
                                        <svg viewBox="0 -47 512.002 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M191.012 419.043c-22.14 0-44.93-1.793-67.856-5.387-40.379-6.336-81.254-27.457-92.82-33.781L0 363.289l32.844-10.8c35.902-11.805 57.742-19.13 84.777-30.598-27.07-13.11-47.933-36.692-57.976-67.176l-7.641-23.195 6.266.957A113.939 113.939 0 0 1 44 214.883c-12.934-19.645-19.781-43.649-18.324-64.219l1.437-20.246 12.121 4.695a113.316 113.316 0 0 1-10.98-30.777c-5.293-26.36-.863-54.363 12.476-78.852L51.29 6.102l14.12 16.96c44.66 53.649 101.227 85.473 168.363 94.79-2.742-18.903-.687-37.145 6.114-53.497 7.918-19.039 22.004-35.183 40.722-46.69 20.79-12.778 46-18.97 70.989-17.435 26.511 1.63 50.582 11.563 69.699 28.747 9.336-2.426 16.215-5.016 25.512-8.516 5.593-2.106 11.937-4.496 19.875-7.23l29.25-10.079-19.075 54.477a96.355 96.355 0 0 1 3.91-.254l31.235-1.414-18.461 25.23c-1.059 1.446-1.328 1.856-1.703 2.422-1.488 2.242-3.34 5.032-28.68 38.867-6.344 8.473-9.512 19.508-8.922 31.079 2.246 43.968-3.148 83.75-16.043 118.234-12.195 32.625-31.093 60.617-56.164 83.2-31.023 27.937-70.582 47.066-117.582 56.847-23.054 4.797-47.812 7.203-73.437 7.203zm0 0" /></svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cont_feedback_form_holder">
                    <div class="cnt_map_head_contr hidden-xs">
                        <div class="cnt_map_head">
                            find us on map <hr class="cnt_map_hr">
                        </div>
                    </div>
                    <div class='cont_feedback_form'>
                        <h3>LEAVE YOUR FEEDBACK</h3>
                        <p>
                            Want to give us a feed back? Let me know
                            by filling below form.
                        </p>
                        @using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
                        {
                            <form class="cont_form">
                                <div class="col-sm-6 field">
                                    <input type="text" class="required" name="fullname" id="fullname" required>
                                    <script>

                                        $('#fullname').on('input', function (e) {
                                            var x1 = $('#fullname').val();
                                            $('#1').val(x1);
                                        });

                                    </script>
                                    <label for="fullname" class="floating-label">Name</label>
                                </div>
                                <div class="col-sm-6 field">

                                    <input type="text" class="required" name="nationality" id="nationality" required>
                                    <script>
                                        $("#nationality").on('input', function (e) {
                                            var x2 = $('#nationality').val();

                                            $('#2').val(x2);
                                        });
                                    </script>
                                    <label for="nationality" class="floating-label">Nationality</label>
                                </div>
                                <div class="col-sm-6 field">
                                    <input type="text" class="required" name="email" id="email" required>
                                    <script>


                                        $('#email').on('input', function (e) {
                                            var x3 = $('#email').val();
                                            $('#3').val(x3);
                                        });
                                    </script>
                                    <label for="email" class="floating-label">Email</label>
                                </div>
                                <div class="col-sm-6 field">
                                    <input type="text" class="required" name="contact" id="contact" required>
                                    <script>

                                        $('#contact').on('input', function (e) {
                                            var x4 = $('#contact').val();
                                            $('#4').val(x4);
                                        });
                                    </script>
                                    <label for="contact" class="floating-label">Contact</label>
                                </div>
                                <div class="col-sm-9 field">
                                    <input type="text" class="required" name="text" id="address" required>
                                    <script>
                                        $('#address').on('input', function (e) {
                                            var x5 = $('#address').val();
                                            $('#5').val(x5);
                                        });
                                    </script>
                                    <label for="address" class="floating-label">Address</label>

                                </div>
                                <div class="col-sm-3 field">
                                    <button class="next_btn" type="button" id="nxt_btn">next</button>

                                </div>

                            </form>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="cont_map_contr hidden-xs">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.5589654508685!2d55.96344761543964!3d25.78512718362621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef676cf7976e941%3A0x56fc51b4dfe1241!2sManar+Mall!5e0!3m2!1sen!2sin!4v1543306950976" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


                </div>

                <div class="cont_rate">
                    <p>
                        How would you</br>
                        <span>rate us</span> in below catagories?
                    </p>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="container-fluid cont_feedback_gt" id="feed_form">
    <div class="container">


        <div class="cont_wizard_holder  clearfix">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
                {
                    @*<form id="regForm" action="">*@

                    <div class="tab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>Please Tick the Appropriate Box & Select Answer Below</h3>
                        </div>
                        <div class="row input_row">

                            <div class="col-sm-4 question_tl">Customer Service</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="cs1" name="cs" value="Excelent" /><label for="cs1"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="cs2" name="cs" value="Good" /><label for="cs2"><span></span>Good</label></li>
                                    <li><input type="radio" id="cs3" name="cs" value="Fair" /><label for="cs3"><span></span>Fair</label></li>
                                    <li><input type="radio" id="cs4" name="cs" value="Poor" /><label for="cs4"><span></span>Poor</label></li>
                                </ul>

                                <script type="text/javascript">
                                    $('#cs1').on('input', function (e) {
                                        var r1 = $('#cs1').val();
                                        $('#r1').val(r1);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#cs2').on('input', function (e) {
                                        var r2 = $('#cs2').val();
                                        $('#r2').val(r2);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#cs3').on('input', function (e) {
                                        var r3 = $('#cs3').val();
                                        $('#r3').val(r3);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#cs4').on('input', function (e) {
                                        var r4 = $('#cs4').val();
                                        $('#r4').val(r4);

                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row input_row">
                            <div class="col-sm-4 question_tl">Friendliness of Security Staff</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="fsf1" name="fs" value="Excelent" /><label for="fsf1"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="fsf2" name="fs" value="Good" /><label for="fsf2"><span></span>Good</label></li>
                                    <li><input type="radio" id="fsf3" name="fs" value="Fair" /><label for="fsf3"><span></span>Fair</label></li>
                                    <li><input type="radio" id="fsf4" name="fs" value="Poor" /><label for="fsf4"><span></span>Poor</label></li>

                                </ul>

                                <script type="text/javascript">
                                    $('#fsf1').on('input', function (e) {
                                        var r1 = $('#fsf1').val();
                                        $('#r5').val(r1);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#fsf2').on('input', function (e) {
                                        var r2 = $('#fsf2').val();
                                        $('#r6').val(r2);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#fsf3').on('input', function (e) {
                                        var r3 = $('#fsf3').val();
                                        $('#r7').val(r3);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#fsf4').on('input', function (e) {
                                        var r4 = $('#fsf4').val();
                                        $('#r8').val(r4);

                                    });
                                </script>



                            </div>
                        </div>
                        <div class="row input_row">
                            <div class="col-sm-4 question_tl">Directional signs</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="ds1" name="ds" value="Excelent" /><label for="ds1"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="ds2" name="ds" value="Good" /><label for="ds2"><span></span>Good</label></li>
                                    <li><input type="radio" id="ds3" name="ds" value="Fair" /><label for="ds3"><span></span>Fair</label></li>
                                    <li><input type="radio" id="ds4" name="ds" value="Poor" /><label for="ds4"><span></span>Poor</label></li>

                                </ul>

                                <script type="text/javascript">
                                    $('#ds1').on('input', function (e) {
                                        var r1 = $('#ds1').val();
                                        $('#r9').val(r1);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#ds2').on('input', function (e) {
                                        var r2 = $('#ds2').val();
                                        $('#r10').val(r2);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#ds3').on('input', function (e) {
                                        var r3 = $('#ds3').val();
                                        $('#r11').val(r3);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#ds4').on('input', function (e) {
                                        var r4 = $('#ds4').val();
                                        $('#r12').val(r4);

                                    });
                                </script>


                            </div>
                        </div>
                        <div class="row input_row">
                            <div class="col-sm-4 question_tl">Cleanliness of mall</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="cm1" name="cm" value="Excelent" /><label for="cm1"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="cm2" name="cm" value="Good" /><label for="cm2"><span></span>Good</label></li>
                                    <li><input type="radio" id="cm3" name="cm" value="Fair" /><label for="cm3"><span></span>Fair</label></li>
                                    <li><input type="radio" id="cm4" name="cm" value="Poor" /><label for="cm4"><span></span>Poor</label></li>

                                </ul>


                                <script type="text/javascript">
                                    $('#cm1').on('input', function (e) {
                                        var r1 = $('#cm1').val();
                                        $('#r13').val(r1);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#cm2').on('input', function (e) {
                                        var r2 = $('#cm2').val();
                                        $('#r14').val(r2);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#cm3').on('input', function (e) {
                                        var r3 = $('#cm3').val();
                                        $('#r15').val(r3);

                                    });
                                </script>
                                <script type="text/javascript">
                                    $('#cm4').on('input', function (e) {
                                        var r4 = $('#cm4').val();
                                        $('#r16').val(r4);

                                    });
                                </script>

                            </div>
                        </div>





                    </div>

                    <div class="tab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>Please Tick the Appropriate Box & Select Answer Below</h3>
                        </div>
                        <div class="row input_row">

                            <div class="col-sm-4 question_tl">Customer Service</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="cs12" name="cs2" /><label for="cs12"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="cs22" name="cs2" /><label for="cs22"><span></span>Good</label></li>
                                    <li><input type="radio" id="cs32" name="cs2" /><label for="cs32"><span></span>Fair</label></li>
                                    <li><input type="radio" id="cs42" name="cs2" /><label for="cs42"><span></span>Poor</label></li>

                                </ul>
                            </div>
                        </div>
                        <div class="row input_row">
                            <div class="col-sm-4 question_tl">Friendliness of Security Staff</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="fsf12" name="fs2" /><label for="fsf12"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="fsf22" name="fs2" /><label for="fsf22"><span></span>Good</label></li>
                                    <li><input type="radio" id="fsf32" name="fs2" /><label for="fsf32"><span></span>Fair</label></li>
                                    <li><input type="radio" id="fsf42" name="fs2" /><label for="fsf42"><span></span>Poor</label></li>

                                </ul>
                            </div>
                        </div>
                        <div class="row input_row">
                            <div class="col-sm-4 question_tl">Directional signs</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="ds12" name="ds2" /><label for="ds12"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="ds22" name="ds2" /><label for="ds22"><span></span>Good</label></li>
                                    <li><input type="radio" id="ds32" name="ds2" /><label for="ds32"><span></span>Fair</label></li>
                                    <li><input type="radio" id="ds42" name="ds2" /><label for="ds42"><span></span>Poor</label></li>

                                </ul>
                            </div>
                        </div>
                        <div class="row input_row">
                            <div class="col-sm-4 question_tl">Cleanliness of mall</div>
                            <div class="col-sm-8">
                                <ul class="input_holder">
                                    <li><input type="radio" id="cm12" name="cm2" /><label for="cm12"><span></span>Excelent</label></li>
                                    <li><input type="radio" id="cm22" name="cm2" /><label for="cm22"><span></span>Good</label></li>
                                    <li><input type="radio" id="cm32" name="cm2" /><label for="cm32"><span></span>Fair</label></li>
                                    <li><input type="radio" id="cm42" name="cm2" /><label for="cm42"><span></span>Poor</label></li>

                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="tab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <h3 class="tk_feedback_area">Are there any <strong>brands/store/restaurant</strong> in particular that you would like to see in the mall?</h3>
                            </div>
                        </div>
                        <div class="row input_row">
                            <textarea class="tk_feedback" id="area"></textarea>
                            <script type="text/javascript">
                                $('#area').on('input', function (e) {
                                    var r4 = $('#area').val();
                                    $('#Remark').val(r4);
                                });
                            </script>
                            <input type="submit" class="sub_btn" value="Submit" />
                        </div>

                    </div>

                    <div class="next_pre_tb" style="overflow:auto;">
                        <div class="btn_cntr_tb">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="25"><path d="M88.6 121.3c.8.8 1.8 1.2 2.9 1.2s2.1-.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8 0l-54 53.9c-1.6 1.6-1.6 4.2 0 5.8l54 53.9z" fill="#464646" /></svg>
                            </button><span id="curr_tb">1 </span> / 3
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="25"><path d="M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z" fill="#464646" /></svg>
                            </button>
                        </div>
                    </div>

                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;  visibility: hidden;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>


                    @Html.TextBoxFor(m => m.Fullname, new { id = "1", style = "display:none" })
                    @Html.TextBoxFor(m => m.Nationality, new { id = "2", style = "display:none" })
                    @Html.TextBoxFor(m => m.Email, new { id = "3", style = "display:none" })
                    @Html.TextBoxFor(m => m.Contact, new { id = "4", style = "display:none" })
                    @Html.TextBoxFor(m => m.Address, new { id = "5", style = "display:none" })


                    @Html.TextBoxFor(m => m.Remark1, new { id = "r1", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark2, new { id = "r2", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark3, new { id = "r3", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark4, new { id = "r4", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark5, new { id = "r5", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark6, new { id = "r6", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark7, new { id = "r7", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark8, new { id = "r8", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark9, new { id = "r9", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark10, new { id = "r10", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark11, new { id = "r11", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark12, new { id = "r12", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark13, new { id = "r13", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark14, new { id = "r14", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark15, new { id = "r15", style = "display:none" })
                    @Html.TextBoxFor(m => m.Remark16, new { id = "r16", style = "display:none" })

                    @Html.TextAreaFor(m => m.Remark, new { id = "Remark", style = "display:none" })



                    @*</form>*@
                }
            </div>
        </div>
    </div>





</section>

<section class="container-fluid hidden-lg hidden-md hidden-sm visible-xs ">
    <div class="row ">
        <div class="cont_map_contr ">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.5589654508685!2d55.96344761543964!3d25.78512718362621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef676cf7976e941%3A0x56fc51b4dfe1241!2sManar+Mall!5e0!3m2!1sen!2sin!4v1543306950976" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


        </div>
    </div>

</section>

