@using ManarMall.Models;
@using Umbraco.Web.Models;
@using Umbraco.Web;
@using umbraco.cms.businesslogic.web;
@using Skybrud.ImagePicker;
@using Skybrud.ImagePicker.Extensions;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var langs = Umbraco.TypedContentAtRoot();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var umbracoPageId = 8579;
    var currentPage = Umbraco.Content(umbraco.NodeFactory.Node.GetCurrent().Id);
    IPublishedContent content = umbracoHelper.TypedContent(umbracoPageId);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    Session["data"] = umbracoPageId;
    Session["data2"] = content.UrlName;

    ImagePickerItem BrandImage1 = content.GetImagePickerItem("brandImage1");

    ImagePickerList shopimages1 = content.GetImagePickerList("slider1");

    ImagePickerList shopimage2 = content.GetImagePickerList("slider2");

    var shopdetails = content.GetPropertyValue<string[]>("shopDetail");

    var shoptiming = content.GetPropertyValue<string[]>("shopTimings");


}
<section class="container-fluid  shop_details_baner ">
    <div class="sh_dt_bg" style="background: #007755;"></div>
    <div class="container  ">
        <div class="sh_dt_bg_cntr" style="background: #007755; "></div>
    </div>
    <div class="container sh_details_contr ">
        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 sp_dt_top">
            @if (BrandImage1.HasImage)
            {
                <div class="sp_image" style="">
                    <img src="@BrandImage1.Image.Url">
                </div>
            }


            <div class="sp_addr_time ">
                <h1>@content.GetPropertyValue("shopName")</h1>
                <ul class="social_links">
                    <li><a href="" title="facebook" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.124 96.123"><path d="M72.089.02L59.624 0C45.62 0 36.57 9.285 36.57 23.656v10.907H24.037a1.96 1.96 0 0 0-1.96 1.961v15.803a1.96 1.96 0 0 0 1.96 1.96H36.57v39.876a1.96 1.96 0 0 0 1.96 1.96h16.352a1.96 1.96 0 0 0 1.96-1.96V54.287h14.654a1.96 1.96 0 0 0 1.96-1.96l.006-15.803a1.963 1.963 0 0 0-1.961-1.961H56.842v-9.246c0-4.444 1.059-6.7 6.848-6.7l8.397-.003a1.96 1.96 0 0 0 1.959-1.96V1.98A1.96 1.96 0 0 0 72.089.02z" /></svg></a></li>
                    <li>
                        <a href="" target="_blank" title="twitter">
                            <svg viewBox="0 -47 512.002 512" xmlns="http://www.w3.org/2000/svg"><path d="M191.012 419.043c-22.14 0-44.93-1.793-67.856-5.387-40.379-6.336-81.254-27.457-92.82-33.781L0 363.289l32.844-10.8c35.902-11.805 57.742-19.13 84.777-30.598-27.07-13.11-47.933-36.692-57.976-67.176l-7.641-23.195 6.266.957A113.939 113.939 0 0 1 44 214.883c-12.934-19.645-19.781-43.649-18.324-64.219l1.437-20.246 12.121 4.695a113.316 113.316 0 0 1-10.98-30.777c-5.293-26.36-.863-54.363 12.476-78.852L51.29 6.102l14.12 16.96c44.66 53.649 101.227 85.473 168.363 94.79-2.742-18.903-.687-37.145 6.114-53.497 7.918-19.039 22.004-35.183 40.722-46.69 20.79-12.778 46-18.97 70.989-17.435 26.511 1.63 50.582 11.563 69.699 28.747 9.336-2.426 16.215-5.016 25.512-8.516 5.593-2.106 11.937-4.496 19.875-7.23l29.25-10.079-19.075 54.477a96.355 96.355 0 0 1 3.91-.254l31.235-1.414-18.461 25.23c-1.059 1.446-1.328 1.856-1.703 2.422-1.488 2.242-3.34 5.032-28.68 38.867-6.344 8.473-9.512 19.508-8.922 31.079 2.246 43.968-3.148 83.75-16.043 118.234-12.195 32.625-31.093 60.617-56.164 83.2-31.023 27.937-70.582 47.066-117.582 56.847-23.054 4.797-47.812 7.203-73.437 7.203zm0 0" /></svg>
                        </a>
                    </li>
                </ul>

                <ul>
                    @content.GetPropertyValue("shopContact")
                </ul>
            </div>
            <div class="sp_tagline hidden-xs">
                <p>@content.GetPropertyValue("description")</p>
            </div>
            <div class="sp_open_hr hidden-xs">
                <h3>
                    Opening until
                    @if (shoptiming != null)
                    {
                        <select>
                            @foreach (var item in shoptiming)
                            {
                                <option>@item</option>
                            }
                        </select>
                    }
                </h3>
                <hr>
            </div>

        </div>

        <div class=" col-xs-7 hidden-lg hidden-md hidden-sm visible-xs mob_sp_abt">
            <div class="row">
                <div class="sp_about_info">
                    <h2>@content.GetPropertyValue("shopTitle") </h2>
                    <p>
                        @content.GetPropertyValue("aboutShop")
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-11 hidden-xs mob_sp_abt_old pull-right">
                    <div class="row">
                        <div class="sp_about_info">
                            <h2>@content.GetPropertyValue("shopTitle")</h2>
                            <p>@content.GetPropertyValue("aboutShop")</p>
                            <hr>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="sp_tagline hidden-lg hidden-md hidden-sm visible-xs text-center">
                            <p>  @content.GetPropertyValue("description") </p>
                        </div>
                        <div class="sp_open_hr  hidden-lg hidden-md hidden-sm visible-xs text-center">
                            <h3>
                                @if (shoptiming != null)
                                {
                                    <select>
                                        @foreach (var item in shoptiming)
                                        {
                                            <option>@item</option>
                                        }
                                    </select>
                                }
                            </h3>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-10">
                            <div class="row">


                                <div class="sp_interior_slider  owl-carousel owl-theme">
                                    @foreach (ImagePickerItem item in shopimages1.Items)
                                    {
                                        <div class="item     " style="background: url(@item.Image.Url) ;   "> </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container  ">

        <div class="col-lg-8 col-md-8 col-sm-8  sp_custm_slider_container col-xs-12">
            <div class="row">

                <div class="sp_custm_slider eqheight owl-carousel owl-theme">
                    @foreach (ImagePickerItem item in shopimage2.Items)
                    {
                        <div class="item  eqheight   " style="background: url(@item.Image.Url) ;   "> </div>
                    }


                </div>
                <div id="counter2"></div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4  hidden-xs">
            </div>
        </div>
    </div>
</section>


<section class="container-fluid sp_addrress_info_cont">
    <div class="container  ">

        <div class="col-lg-8 col-md-8 col-sm-8 sp_mp_cont col-xs-6">
            <div class="row">
                <div class="sp_map pull-right  ">


                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.5589654508685!2d55.96344761543964!3d25.78512718362621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef676cf7976e941%3A0x56fc51b4dfe1241!2sManar+Mall!5e0!3m2!1sen!2sin!4v1543306950976" width="100%" class="g_map" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 sp_addr_cont col-xs-6">
            <div class="row">
                <div class="sp_adress">
                    <h2>find us on map</h2>
                    <ul>
                        @content.GetPropertyValue("shopLocation")

                    </ul>
                    <hr>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

